//-------------------footer-----------------------
footer {
    @include flex-centrar($content: end);
    width: $full;
    img {
        filter: drop-shadow(0 -6mm 4mm rgb(31, 63, 22));
        position: absolute;
        width: $full;
        z-index: -1;
    }
    #redes-footer {
        @include flex-centrar($content: start);
        color: $color-relleno-font;
        font-family: $font-principal;
        font-size: $escala-media-baja;
        font-style: $grosor-font;
        text-shadow: $sombra-texto;
        z-index: 2;
    }
}

